.loginsubmit{
 
    
   
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #3f6ad8 ;
    padding: .5em 1.7em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
   border-radius: 5px;
   margin-bottom: 30px;
  
}
body{
   background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;
}